{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-image">
                    <img title="fuck" src="{{manga.cover}}">
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="row">
                <div class="col s12">
                    <h4 class="title">{{manga.name}}</h4>
                </div>
                <div class="col s12">
                    <p>{{manga.summary}}</p>
                </div>
            </div>
            <div class="col s12 m12 categories">
                <h5>Categories</h5>
                {% for cat in manga. categories %}
                <a class="cat flex flex-row" href="{{ url_for('category-detail',cat_slug=cat.slug) }}">{{cat.name}}</a>
                {% else %}
                <p>not categorized</p>
                {% endfor %}
            </div>
        </div>
        <table>
            <thead>
                <th>
                <td>
                    <h3 class="center-align">Chapters</h3>
                </td>
                </th>
            </thead>
            <tbody>
                {% for chapter in manga.chapters | reverse %}
                <tr>
                    <td>
                        <a href="{{ url_for('read_chapter',anime_slug=manga.slug,chapter_id=chapter.slug ) }}">
                            {{chapter.slug}}
                        </a>
                    </td>
                    <td><a href="{{ url_for('read_chapter',anime_slug=manga.slug,chapter_id=chapter.slug ) }}">
                            {% if chapter.name %}
                            {{chapter.name}}
                            {% else %}
                            chapter {{chapter.slug}}
                            {% endif %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}