{% extends 'base.html' %}
{% block content %}

<style>
    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }

    .img-viewer {
        margin: 1rem auto;
        padding: .5rem;
    }

    .responsive-img {
        padding: auto;
        border: 1px solid;
    }

    .image {
        position: relative;
    }

    .image::after {
        content: attr(data-img-index);
        background-color: black;
        position: absolute;
        bottom: 0;
        left: .5em;
        padding: 1.2em;
        color: white;
        font-size: .8em;
        font-weight: 700;
        border-radius: 50%;
    }
</style>

<div class="container-fluid">
    <figure class="img-viewer">
        {% if imgs %}
        {% for img in imgs %}
        <div class="image">
            <img alt="img1" class="responsive-img" data-img-index="{{loop.index}}" loading="lazy" src="{{img}}" />
        </div>
        {% endfor %}
        {% endif %}
    </figure>
</div>
{% endblock %}